.button{
    display: block;
    background-color: $main-color;
    font-size: 1.2rem;
    color: $white;
    border: none;
    border-radius: 27px;
    text-transform: uppercase;
    transition: .5s all;
    margin: 0 auto;
    &:hover{
        box-shadow: 2px 1px 10px $main-color;
    }
    &__header{
        width: 160px;
        height: 45px;
    }
    &__promo{
        width: 230px;
        height: 55px;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 40px auto 0 auto;
        text-decoration: none;
        text-align: center;
        line-height: 55px;
        &:hover{
            color: $white;
            animation-name: kickButton;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
        }
    }
    &__services{
        width: 160px;
        height: 45px;

        position: absolute;
        bottom: 10px;
        left: calc(50% - 80px);
        font-weight: 700;
        letter-spacing: 0.3px;
        &_back{
            width: 160px;
            height: 45px;
            margin: 0 auto;
            position: absolute;
            bottom: 10px;
            left: calc(50% - 80px);
            font-weight: 700;
            letter-spacing: 0.3px;
        }
    }
    &__consultation{
        width: 180px;
        height: 45px;
        margin-top: 15px;

    }
    &__ask{
        width: 180px;
        height: 41px;

    }
    &__footer{
        width: 165px;
        height: 41px;
        margin-left: 15px;
    }
    &__form{
        width: 160px;
        height: 40px;
        position: absolute;
        bottom: 15px;
        left: calc(50% - 80px);
    }
    
}