.consultation{
    &__form{
        padding: 67px 0 43px 0;
        border: 1px solid #c4c4c4;
        position: relative;
    }
    &__wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__text,
    &__number,
    &__email{
        padding: 13px 13px;
        border-radius: 20px;
        border: 1.3px solid #c9c9c9;
        margin: 0 2.5px;
        outline: none;
        transition: .3s all;
        &:focus,
        &:hover{
            border: 2px solid #acaaaa;
        }
    }
    &__img{
        width: 125px;
        height: 104px;
        position: absolute;
        background-color: #fff;
        top: -50px;
        left: calc(50% - 70px);
        img{
            margin: 0 auto;
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
    &__button{
        width: 200px;
        background-color: #fff;
        position: absolute;
        left: calc(50% - 100px);
        bottom: -22px;
    }
}