@media (max-width: 1400px){
    .header{
        &__logo{
            width: 65px;
            height: 65px;
        }
        &__items{
            font-size: 1.8rem;
        }
        &__link{
            &-telle{
                font-size: 1.4rem;
            }
        }
    }
    .button__header{
        width: 130px;
        font-size: 1.15rem;
        margin: 0;
    }
    .promo{
        &__header{
            font-size: 6rem;
        }
        &__subheader{
            font-size: 4rem;
        }
    }
    .advantage{
        &__wrapper{
            align-items: start;
        }
        &__img{
            width: 60px;
            height: 60px;

        }
    }
    .work{
        &__subtitle{
            line-height: 1.2;
        }
        &__img{
            margin: 0 auto;
        }
        &__wrapper{
            margin-bottom: 30px;
        }
        &__title-r{
            margin: 8px 0 7px 0;
            font-size: 2rem;
        }
        &__descr{
            font-size: 1.6rem;
        }
    }
    .services{
        &__front{
            &-descr{
                font-size: 1.47rem;
            }
        }
    }
    .scheme{
        margin-bottom: 5px;
        &__title{
            font-size: 1.9rem;
            margin-bottom: 3px;
        }
        &__descr{
            font-size: 1.7rem;
        }
        &__img{
            img{
                object-fit: contain;
            }
        }
    }
 
}

@media (max-width: 1199px){
    .header{
        &__items{
            font-size: 1.5rem;
            padding: 9px;
        }
    }
    .slick-prev{
        left: 370px;
    }
    .slick-next{
        right: 370px;
    }
    .response{
        &__descr{
            font-size: 1.7rem;
        }
    }
    .footer{
        &__left{
            &-logo{
                margin-right: 10px;
            }
        }
        &__bottom{
            font-size: 1.5rem;
            &-right{
                &__text{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 991px){
    .header{
        &__logo{
            display: none;
        }
        &__items{
            padding: 0 3px 0;
            font-size: 1.4rem;
        }
        &__link{
            &-text{
                font-size: 1.26rem;
                margin-bottom: 2px;
            }
            &-telle{
                font-size: 1.2rem;
            }
        }
    }
    .button__header{
        width: 113px;
        border-radius: 23px;
        font-size: 1rem;
    }
    .promo{
        &__header{
            font-size: 4.5rem;
            margin-top: 5px;
        }
        &__subheader{
            font-size: 3rem;
        }
    }
    .work{
        &__img{
            width: auto;
        }
    }
    .services{
        &__border{
            margin-bottom: 20px;
        }
        &__front{
            &-descr{
                font-size: 1.65rem;
            }
        }
        &__list{
            &-item{
                font-size: 1.65rem;
            }
        }
    }
    .response{
        .title{
            margin-bottom: 5px;
        }
        .slick-prev{
            left: 250px;
        }
        .slick-next{
            right: 250px;
        }
        &__descr{
            margin: 0 30px;
        }
    }
    .footer{
        &__left{
            &-text{
                font-size: 1.4rem;
            }
        }
        &__link{
            margin-right: 7px;
            &-telle{
                font-size: 1.4rem;
            }
        }
        .button__footer{
            width: 120px;
            font-size: 1.1rem;
        }
    }
    .ask{
        &__header,
        &__form{
            width: 700px;
        }
    }
}