@media (max-width: 1400px){
    .header{
        &__logo{
            width: 65px;
            height: 65px;
        }
        &__items{
            font-size: 1.8rem;
        }
        &__link{
            &-telle{
                font-size: 1.4rem;
            }
        }
    }
    .button__header{
        width: 130px;
        font-size: 1.15rem;
        margin: 0;
    }
    .promo{
        &__header{
            font-size: 6rem;
        }
        &__subheader{
            font-size: 4rem;
        }
    }
    .advantage{
        &__wrapper{
            align-items: start;
        }
        &__img{
            width: 60px;
            height: 60px;

        }
    }
    .work{
        &__subtitle{
            line-height: 1.2;
        }
        &__img{
            margin: 0 auto;
        }
        &__wrapper{
            margin-bottom: 30px;
        }
        &__title-r{
            margin: 8px 0 7px 0;
            font-size: 2rem;
        }
        &__descr{
            font-size: 1.6rem;
        }
    }
    .services{
        &__front{
            &-descr{
                font-size: 1.47rem;
            }
        }
    }
    .scheme{
        margin-bottom: 5px;
        &__title{
            font-size: 1.9rem;
            margin-bottom: 3px;
        }
        &__descr{
            font-size: 1.7rem;
        }
        &__img{
            img{
                object-fit: contain;
            }
        }
    }
 
}

@media (max-width: 1199px){
    .header{
        &__items{
            font-size: 1.5rem;
            padding: 9px;
        }
    }
    .slick-prev{
        left: 370px;
    }
    .slick-next{
        right: 370px;
    }
    .response{
        &__descr{
            font-size: 1.7rem;
        }
    }
    .footer{
        &__left{
            &-logo{
                margin-right: 10px;
            }
        }
        &__bottom{
            font-size: 1.5rem;
            &-right{
                &__text{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 991px){
    .header{
        &__logo{
            display: none;
        }
        &__items{
            padding: 0 3px 0;
            font-size: 1.4rem;
        }
        &__link{
            &-text{
                font-size: 1.26rem;
                margin-bottom: 2px;
            }
            &-telle{
                font-size: 1.2rem;
            }
        }
    }
    .button__header{
        width: 113px;
        border-radius: 23px;
        font-size: 1rem;
    }
    .promo{
        &__header{
            font-size: 4.5rem;
            margin-top: 5px;
        }
        &__subheader{
            font-size: 3rem;
        }
    }
    .work{
        &__img{
            width: auto;
        }
    }
    .services{
        &__border{
            margin-bottom: 20px;
        }
        &__front{
            &-descr{
                font-size: 1.65rem;
            }
        }
        &__list{
            &-item{
                font-size: 1.65rem;
            }
        }
    }
    .response{
        .title{
            margin-bottom: 5px;
        }
        .slick-prev{
            left: 250px;
        }
        .slick-next{
            right: 250px;
        }
        &__descr{
            margin: 0 30px;
        }
    }
    .footer{
        &__left{
            &-text{
                font-size: 1.4rem;
            }
        }
        &__link{
            margin-right: 7px;
            &-telle{
                font-size: 1.4rem;
            }
        }
        .button__footer{
            width: 120px;
            font-size: 1.1rem;
        }
    }
    .ask{
        &__header,
        &__form{
            width: 700px;
        }
    }
}

@media (max-width: 767px){
    .header{
        background-color: rgba($color: #3b3d4a, $alpha: .9);
        width: 280px;
        display: flex;
        justify-content: center;
        padding: 15px 0;
        position: fixed;
        top: 15px;
        left: 15px;
        border: 2px solid $main-color;
        border-radius: 15px;
        z-index: 50;
        transition: .5s all;
        transform: translateX(-150%);
        &_active{
            transform: translateX(0);
        }
        &__wrapper{
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
        &__item{
            display: flex;
            flex-direction: column;
        }
        &__items{
            border: none;
            padding: 5px 5px 5px 0;
            font-size: 2rem;
        }
        &__link{
            margin-top: 10px;
            &-text{
                text-align: left;
                font-size: 2rem;
            }
            &-telle{
                font-size: 2rem;
            }
        }
        .button__header{
            width: 160px;
            margin-top: 5px;
            font-size: 1.5rem;
        }
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        width: 50px;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 70;
        transition: .5s all;
        box-shadow: 0px 1px 10px $main-color;
        &__item{
            width: 100%;
            height: 5px;
            margin-bottom: 3px;
            background-color: $main-color;
            transition: .5s all;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &_active{
            box-shadow: none;
            .hamburger__item:nth-child(1){
                width: 57%;
            }
            .hamburger__item:nth-child(3){
                width: 57%;
                margin-left: 43%;
            }
        }
    }
    .promo{
        &__underheader{
            font-size: 2rem;
        }
        &__header{
            font-size: 4.5rem;
            line-height: 1.1;
        }
        &__subheader{
            font-size: 2.27rem;
        }
        &__wrapper{
            margin-bottom: 15px;
        }
        &__descr{
            font-size: 1.7rem;
        }
        &__img{
            margin-bottom: 1px;
        }
    }
    .advantage{
        &__left{
            margin-right: 5px;
        }
        &__title{
            margin-bottom: 3px;
        }
    }
    .consultation{
        &__wrapper{
            flex-direction: column;
            input{
                margin: 5px;
            }
        }
    }
    .meneger{
        &__title{
            margin-bottom: 7px;
        }
        &__descr{
            padding: 0 15px;
        }
    }
    .footer{
        &__left{
            &-logo{
                display: none;
            }
            &-text{
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        &__link{
            margin-right: -6px;
            &-text{
                font-size: 1.2rem;
            }
            &-telle{
                font-size: 1rem;
            }
        }
        .button__footer{
            width: 110px;
        }
        &__bottom{
            font-size: 1.3rem;
        }
    }
    .ask{
        &__header{
            width: 500px;
        } 
        &__form{
            width: 500px;
            &-wrapper{
                flex-direction: column;
                input{
                    width: 90%;
                    margin: 0 auto 10px auto;
                }
            }
            
        } 
        &__textarea{
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 575px){
    .container{
        width: auto;
    }

    .ask{
        &__header,
        &__form{
            width: 300px;
        }
    }
    .header{
        width: 230px;
    }
    .footer{
        &__top{
            flex-direction: column;
        }
        &__right{
            flex-direction: column;
            align-items: center;
            .button__footer{
                margin: 0;
                width: 180px;
                font-size: 1.5rem;
                margin-top: 5px;
            }
        }
        &__left{
            &-text{
                font-size: 2rem;
                text-align: center;
                margin-bottom: 15px;
            }
        }
        &__link{
            &-text{
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 5px;
            }
            &-telle{
                font-size: 1.8rem;
            }
        }
        &__bottom{
            flex-direction: column;
            &-rule{
                margin-bottom: 5px;
            }
        }
    }
    .promo{
        &__wrapper{
            margin-bottom: 10px;
        }
    }
    .overlay{
        .modal{
            &__call{
                width: 300px;
                left: calc(50% - 150px);
                
                h2.title{
                    margin-bottom: 5px;
                }
            }
        }
    }
}